html,
body {
  height: 100%;
}
#root,
.wrapper {
  height: 100%;
}
.wrapper > div:last-child {
  min-height: calc(100% - 60px);
  position: relative;
}
.wrapper > div:last-child:after {
  transition: ease-out all 0.3s;
  -o-transition: ease-out all 0.3s;
  -ms-transition: ease-out all 0.3s;
  -moz-transition: ease-out all 0.3s;
  -webkit-transition: ease-out all 0.3s;
}
.wrapper.active > div:last-child:after {
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  content: '';
  z-index: 9;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.rcw-widget-container{
  z-index: 9999 !important;
}
.modal .modal-dialog{
  margin-top: 50px !important
}
.chat-message{
  max-height: 400px;
  overflow-x: scroll;  
}
.grey-border{
  border: 1px solid #808386
}
.tip-label{
  color: #2d4b65;
}
.tip-value{
  color: #ff0000;
}
h2.tip-value{
  color: #ff0000;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
}
.blank-panel{
  width: 100% !important
}
.bg-primary {
  background: #dbe8f5 !important;
  color: black !important;
  background: none !important
}

.blank-panel .content-wrapper{ padding: 0 !important }
.App {
  text-align: center;
}
.btn-theme {
  background-color: #537b37;
}

.create-container .form-group {
    display: block;
    padding: 0 15px;
}
.create-container .form-label {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    text-align: left;
    margin-bottom: 0;
    line-height: 38px;
}
.create-container .form-control {
    text-align: left;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #343a40 !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

.container-fluid{
  padding-right:0px !important;
  padding-left:0px !important;
}

.stackChartContainer .highcharts-container  {
  overflow-x: scroll !important;
}

.navbar .navbar-brand-wrapper .navbar-brand img {
     width: auto; 
     max-width: inherit !important ; 
     height: 70px; 
    margin: auto;
    vertical-align: middle;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  border: 5px solid #f3f3f3;
  border-top-color: rgb(243, 243, 243);
  border-top-style: solid;
  border-top-width: 5px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
