html,
body {
  height: 100%;
}
#root,
.wrapper {
  height: 100%;
}
.fixed-top{
  z-index: 988 !important;
}
.wrapper > div:last-child {
  min-height: calc(100% - 60px);
  position: relative;
}
.wrapper > div:last-child:after {
  transition: ease-out all 0.3s;
  -o-transition: ease-out all 0.3s;
  -ms-transition: ease-out all 0.3s;
  -moz-transition: ease-out all 0.3s;
  -webkit-transition: ease-out all 0.3s;
}
.content-wrapper {
    padding: .75rem .75rem 0 !important;
}
.modal .modal-dialog .modal-content .modal-body{padding: 18px 26px !important}
.modal .modal-dialog .modal-content .modal-header {
  padding: 13px 26px !important;
}
.card .card-body {
    padding: .875rem 1.875rem !important;
}
.report-inner-cards-wrapper{padding-top: 0px !important}
.specifictd {    
  width:350px;  /* adjust to desired wrapping */
  /*display:table !important;*/
  white-space: pre-wrap !important; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap !important; /* Opera 4-6 */
  white-space: -o-pre-wrap !important; /* Opera 7 */
  word-wrap: break-word !important; /* Internet Explorer 5.5+ */
}

.bg-error{
  background-color: #c53636;
  color: #ffffff;
  padding: 10px !important
}
.bg-info, .bg-warning{
  color: #ffffff !important;
  padding: 10px !important
}
.report-count, .report-title{
  color: #ffffff !important
}

.wrapper.active > div:last-child:after {
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  content: '';
  z-index: 9;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.rcw-widget-container{
  z-index: 9999 !important;
}

.csvlink{
  text-align: right;
  float: right;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}
.react-confirm-alert-body > h1 {
  margin-top: 0;
  font-size: 1.5em !important;
  color: #000
}
.grey-border table tr {border: 0px !important}
.table {width:99% !important;}
.modal .modal-dialog{
  margin-top: 50px !important
}
.chat-message{
  max-height: 400px;
  min-height: 100px;
  overflow-x: scroll;  
}
.grey-border{
  border: 1px solid #808386
}
.tip-label{
  color: #2d4b65;
}
.tip-value{
  color: #ff0000;
}
h2.tip-value{
  color: #ff0000;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
}
.blank-panel{
  width: 100% !important
}
.bg-primary {
  background: #dbe8f5 !important;
  color: black !important;
  background: none !important
}
.left-bg-primary {
  border: 1px solid #0575e4 !important;
  color: black !important;
  /*background: #c9e3fd !important;*/
}
.loader {
  border: 5px solid #f3f3f3;
  border-top-color: rgb(243, 243, 243);
  border-top-style: solid;
  border-top-width: 5px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.daterow {float: left;}
.daterow .react-datepicker-wrapper {width: 40%}
.blank-panel .content-wrapper{ padding: 0 !important }
.App {
  text-align: center;
}
.btn-theme {
  background-color: #537b37;
}

.create-container .form-group {
    display: block;
    padding: 0 15px;
}
.create-container .form-label {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    text-align: left;
    margin-bottom: 0;
    line-height: 38px;
}
.create-container .form-control {
    text-align: left;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #343a40 !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

.container-fluid{
  padding-right:0px !important;
  padding-left:0px !important;
}

.stackChartContainer .highcharts-container  {
  overflow-x: scroll !important;
}

.navbar .navbar-brand-wrapper .navbar-brand img {
     width: auto; 
     max-width: inherit !important ; 
     height: 70px; 
    margin: auto;
    vertical-align: middle;
}

.navbar-nav .notice{
  font-size: 10px;
  font-weight: bold;
  padding: 2px;
  color: #73031a;
}

.icon-bell{ cursor: pointer; font-size: 15px }
.organge{ background-color: #FFA500 !important }
.yellow{ background-color: #BFBF03 !important }
.brown{ background-color: #881717 !important }
.blue{ background-color: #3D7EF9 !important }
.lightbrown{background-color: #fbb0b0 !important; margin: 2px }
.lightbrown i {color: #000000 !important } 
.white-color{margin-left: 5px;}
.white-color i{ color: #fff !important; font-weight: bold; }
/* Override some Bootstrap pagination styles */
ul.pagination {
  float: right;
  margin-top: 5px;
  margin-bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
  ul.pagination li.page-item.active a.page-link {
    color: #445565 !important;
    background-color: #e3e7eb !important;
    border-color: #ced4da !important; }
  ul.pagination a.page-link {
    padding: 0.75rem 1rem;
    min-width: 3.5rem;
    text-align: center;
    box-shadow: none !important;
    border-color: #ced4da !important;
    color: #6b88a4;
    font-weight: 900;
    font-size: 1rem; }
    ul.pagination a.page-link:hover {
      background-color: #f4f4f4; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  border: 5px solid #f3f3f3;
  border-top-color: rgb(243, 243, 243);
  border-top-style: solid;
  border-top-width: 5px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.highcharts-drillup-button span{
  display: none !important;
}

.chartTitle {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
}

.inner-card-text h4{
  margin-bottom: 0px !important;
  font-size: 19px !important
}